.DS_Store
.idea
*.trc
*.tmp
*.log
.idea
*.iml
*.exp
*.lib
*.swp
.deps
obj.target
build
node_modules
doc/_build
.buildinfo
_sources
lib/binding
issues
release
examples
.prebuildrc
ci/
prebuilds/
