.DS_Store
.idea
.vscode
*.trc
*.tmp
*.log
*.iml
*.exp
*.lib
*.swp
*.code-workspace
.deps
.buildinfo
_sources
obj.target
build/
node_modules*/
doc/_build/
release/
issues/
examples/dist/
# https://github.com/Microsoft/vscode-cpptools/issues/3347
.vscode/ipch
prebuilds/
lib/
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles
ci/test
ci/test/
sapnwrfc.ini
tmp

