.DS_Store
.idea
*.trc
*.tmp
*.log
*.iml
*.exp
*.lib
*.swp
.deps
obj.target
build/
node_modules*/
doc/_build/
release/
lib/binding/
issues/
examples/dist/
ci/
# https://github.com/Microsoft/vscode-cpptools/issues/3347
.vscode/ipch
